<tr class = "tr__food-result-entry">
    <th scope = "row">[index]</th>
    <td>
        <p>
            Restaurant: [restaurant]
        </p>
        <p>
            Description: [description]
        </p>
    </td>
    <td>
            <img src = "[img_path]" alt = "img for [description]" class = "img-thumbnail">
    </td>
    <span class="span__hidden-description" style="display:none">[description]</span>
    <span class="span__hidden-restaurant" style="display:none">[restaurant]</span>
</tr>